<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <title>Footer</title>
</head>
<body>
    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <h2><i>RightHire.com</i> </h2>
            </div>
            <div class="footer-nav">
                <ul>
                    <li><a href="#">Services</a></li> &nbsp;&nbsp;
                    <li><a href="#">About Us</a></li> &nbsp;&nbsp;
                    <li><a href="#">Contact Us</a></li> &nbsp;&nbsp;
                </ul>
            </div>
            <div class="footer-social">
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>&nbsp;
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>&nbsp;
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>&nbsp;
                </ul>
            </div>
        </div>
        <p>&copy; 2024 RightHire.com All rights reserved.</p>
    </footer>
</body>
</html>