<div class="navbar">
    <ul>
        <a routerLink="/Hr-Dash">Dashboard</a>
        <a routerLink="/profile">Profile</a>
        <a routerLink="/PostJob">Post-Job</a>
    </ul>
</div>

<div class="container">
    <div class="btn-group">
        <button class="btn btn-primary" (click)="togglePostedJobs()">Posted-Jobs</button>
        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      
        <button class="btn btn-primary" (click)="toggleSeekersDetails()">Seekers</button>
    </div>
</div>

<br><br>
<h2 class="job-details" [hidden]="!showJobDetails">Job Details</h2>
<div class="scroll-table" style="height: 300px; overflow-y: auto;" >

<table class="job-table" id="job-details-table" [hidden]="!showJobDetails">

  <thead>
    <tr>
      <th>_id</th> <!-- New table header for _id -->
      <th>Job Role</th>
      <th>Experience</th>
      <th>Job Type</th>
      <th>Job Location</th>
      <th>Last Date</th>
      <th>File Content</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let job of jobData; let i = index"  >
      <td> {{i+1}} </td> <!-- Display _id field -->
      <td>{{ job.jobRole }}</td>
      <td>{{ job.experience }}</td>
      <td>{{ job.jobType }}</td>
      <td>{{ job.jobLocation }}</td>
      <td>{{ job.lastDate | date:'yyyy-MM-dd' }}</td>
      <td>
        <div *ngIf="job.fileContent">
          {{ job.fileContent }}
        </div>
        <div *ngIf="!job.fileContent">
          No file content available
        </div>
      </td>
      <td>
        <button class="delete-button" (click)="deleteJob(job._id )" >DeleteX</button>
      </td>
    </tr>
  </tbody>

</table>

<h2 class="seekers-details" [hidden]="!showSeekersDetails">Seekers Details</h2>
<table id="seekers-details-table" [hidden]="!showSeekersDetails">
  <thead>
    <tr>
      <th>_id</th>
      <th>name</th>
      <th>email</th>
      <th>appliedRole</th>
      <th>Resume</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let seeker of jobData1; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ seeker.name }}</td>
      <td>{{ seeker.email }}</td>
      <td>{{ seeker.appliedRole}}</td>
      <td> No content</td>
      <td> 50% </td>
    </tr>
  </tbody>
</table>
</div>